@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif; 

}
.main-heading{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: blanchedalmond;
    padding: 15px;
}
.container-fluid{
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.table{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.table-responsive{
    max-height: 1800px;
    box-shadow: rgba(0, 0,0, 0.25) 0px 25px 50px -12px;
    margin-top: 30px;
    
}
tr:hover{
    background-color: #ffa;
}
td,
th{
    position: relative;
}
.table td,
.table th{
    padding: 0.75rem;
    vertical-align: top;
    border-top: none;
}
td:hover::after,
th:hover::after{
    content: "";
    position: absolute;
    background-color: #f2f2f2;
    left: 0;
    top: -500px;
    height: 5000px;
    width: 100%;
    z-index: -1;
}
.table tr td:hover:nth-child(4){
    background-color: rgba(231,83,115);
    color: aliceblue;
    border: 0.5px solid rgba(12,12,12);
}
.table tr td:hover{
    background-color: rgba(117,223,122);
    color: aliceblue;
    border: 0.5px solid rgba(12,12,12);
}
.thead-dark{
    font-weight: bold;
    text-transform: uppercase;
    background-color: cadetblue;
    justify-content: center;
    align-items: center;
    text-align: center;
}